<!DOCTYPE HTML PUBLIC "~//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>RailsSpace</title>
  </head>
<body>
  <h1>About Us</h1>
  <p>RailsSpace is a social networking web site for Ruby on Rails enthusiasts
     (and whoever else show up)</p>
</body>
</html>
